# for dev
DB_HOST_NAME=
FASTIFY_PORT=

DB_PASSWORD=""
DB_PORT=
DB_NAME=
DB_USERNAME=

JWT_SECRET=your_super_secret_key_min_32_chars
COOKIE_SECRET=your_cookie_secret_key

# 10 min (e.g., 10m or 600)
JWT_EXPIRES_IN="10m"

# 7 days (e.g., 7d or 604800)
JWT_REFRESH_EXPIRES_IN="7d"

MODE=development
NODE_ENV=development
#NODE_ENV=production
SEQUELIZE_LOG=false
